.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    background: #fff;
    opacity: 60%;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 20px;
}

.title , .sub-title{
    text-align: center;  
}

.title{
    font-size: 28px;
    margin-bottom: 10px;
}

.sub-title{
    color: #615f5c;
}

.btn{
    width: 100%;
}

.btn-i{ 
    display: flex;
    flex-direction: column; 
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    color: #615f5c;
    padding: 10px 40px;
    background-color: rgba(255, 126, 66, 0.452);
    border-radius: 15px;
}

a:link:hover{
    color: #FF7D42;
    text-decoration: none;
}